<div id="modal-comparativa" class="modal-comparativa">
    <div class="modal-contenido">

        <button class="modal-cerrar" id="cerrar-comparativa">X</button>

        <div class="modal-header">
            <h2>Comparativa de Productos</h2>
            <p id="comparativa-count"></p>
        </div>

        <div id="comparativa-grafico"></div>

        <div id="comparativa-tabla"></div>

        <div class="grafica-comparativa">
            <canvas id="canvas-comparativa"></canvas>
        </div>


    </div>
</div>
